:root {
    --bs-body-bg: lightblue
}


@media (min-widht: 600px) {
    body {color: purple;}
}

#scrollToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: none; 
  z-index: 1000;
  transition: opacity 0.3s, transform 0.3s;
}

#scrollToTopBtn:hover {
  background-color: #555;
  transform: scale(1.1);
}
